.day{
    min-height: 160px;
}

.hover {
	--width: 100%;
	--time: 0.7s;
	position: relative;
	display: inline-block;
	height: 1em;
	padding: 1em;

	color: white;
	background: #222;
	overflow: hidden;
}

.hover text {
	position: relative;
	z-index: 5;
	transition: color var(--time);
}

.hover:hover text {
	color: #222;
}
.hover span {
	border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;

	background: #fff;
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.hover:hover span {
	width: calc(var(--width)*2.25);
	padding-top: calc(var(--width)* 2.25);
}

.hover.FLASH:hover text {
	color: white;
}
.hover.FLASH span {
	background: #ff3b3b;
}