<!--Código onde está a base do site, o menu e o rodapé. Elas
ficarão visiveis por ser a base do site. -->
<!DOCTYPE html>
<!-- Colocado em pt-br primeiramente por todo o site ser em
português-brasil, mas pode ter a possibilidade de colocar em
outras línguas. -->
<html lang="en">

<head>
  <!-- Autor do código e descrições sobre o código. -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="Karlos Helton Braga" content="multimeios">

  <title> Multimeios </title>
  {% load staticfiles %}
  {% load i18n %}
  <!-- Bootstrap core CSS -->
  <!-- Função do django para ativar as bibliotecas do Bootstrap. -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  
  <!-- Bootstrap core JS e Jquery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/moment-pt-br.js' %}"></script>
  <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="{% static 'js/forms.js' %}"></script>
  
</head>

<body>

  <!-- Navegação - Menu -->
  <header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'djreservas:index' %}"><img src="{% static 'img/CepetroBolinha.png' %}" width="45" height="45">Multimeios</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Opções do Menu-->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% if user.is_active %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'djreservas:index' %}">
          Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djreservas:forms' %}">{% trans 'Formulário' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djreservas:calendario' %}">{% trans 'Calendário' %}</a>
            </li>
            {% if isadmin %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:login' %}">{% trans 'Administrador' %}</a>
              </li>
            {% endif %}
          </ul>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{email}}</a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'password_change' %}">{% trans 'Trocar Senha' %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Sair' %}</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Rodapé -->
  <footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">

      <table class="conteudo_rodape" width="100%" cellspacing="0" cellpadding="5" border="0">
          <tbody><tr>
            <td width="265" valign="top"><span class="navbar-brand">{% trans 'Navegação' %}</span></td>
            <td width="385" valign="top"><span class="navbar-brand">{% trans 'Nossa Localização' %}</span></td>
            <td valign="top"><table width="40%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
                <td width="33%"><a href="https://www.facebook.com/unicampcepetro" target="_blank" title="Facebook"><img src="{% static 'img/facebook.png' %}" width="36" height="36" border="0"></a></td>
                <td width="33%"><a href="http://pt.wikipedia.org/wiki/Cepetro" target="_blank" title="Wikipedia"><img src="{% static 'img/wikipedia-logo.png' %}" width="36" height="36" border="0"></a></td>
                <td width="30%"><a href="https://www.unicamp.br/unicamp/" target="_blank" title="Unicamp"><img src="{% static 'img/log_unicamp_img_trad.png' %}" width="36" height="36" border="0"></a></td>
               </tr>
              </tbody></table></td>
          </tr>
          <tr>
            <td width="265" valign="top"><table width="80%" cellspacing="3" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td><a href="{% url 'djreservas:index' %}" style="color:grey" title="institucional" class="linkdestaq">Home</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'djreservas:forms' %}" style="color:grey" title="Pesquisa" class="linkdestaq">{% trans 'Formulário' %}</a></td>
                </tr>
                <tr>
                  <td><a href="{% url 'djreservas:calendario' %}" style="color:grey" title="Ensino" class="linkdestaq">{% trans 'Calendário' %}</a></td>
                </tr>
                <tr>
                  <td><a href="contato.html" title="Contato" style="color:grey" class="linkdestaq">{% trans 'Contato' %}</a></td>
                </tr>
            </tbody></table>
          </td>
            <td class="font_rodape2" style="color:grey" width="385" valign="top"> Rua Cora Coralina, 350 – Campinas/SP<br>
              Cidade Universitária "Zeferino Vaz" s/n<br>
              Campinas - São Paulo - Brasil<br>
              Caixa Postal 6052 - 
              CEP: 13083-970 <br>
              Tel.: +55 (19) 3521-4664 - Fax: +55 (19) 3521-1188<br>
              <p align="left">&nbsp;</p>
            </td>
            <td width="280" style="color:white" valign="top"><span class="font_rodape2"><a href="https://www.cepetro.unicamp.br/institucional/logotipo.html" style="color:grey" target="_blank">© CEPETRO <br>
              Centro de Estudos de Petróleo - UNICAMP</span></br>
              <img src="{% static 'img/Cepetrointeiro.png'%}" width="309" height="120">
            </td>
          </tr>
        </tbody></table>
   </div>
  </nav>
  </footer>
  
</body>

</html>