{% extends 'djreservas/base.html' %}
{% load i18n %}
{% block content %}
<section class="calend_sessao">
    <div class="container-fluid">
      <header>
        <h5 class="display-4 mb-4 text-center">
          <a class="nav_calendario" href="
            {% if sala_id == 0 %}
              {% url 'djreservas:calendario_todas' ano_mes_anterior %}
            {% else %}
              {% url 'djreservas:calendario' ano_mes_anterior sala_id %}
            {% endif %}">&lt;</a>
          {{nome_mes}}
          <a class="nav_calendario" href="
            {% if sala_id == 0 %}
              {% url 'djreservas:calendario_todas' ano_mes_seguinte %}
            {% else %}
              {% url 'djreservas:calendario' ano_mes_seguinte sala_id %}
            {% endif %}">&gt;</a>
        </h5>
        <a href="{% url 'djreservas:calendario_todas' ano_mes %}" class="btn filtro_sala" style="color:white; background: gray">Todas</a>
        {% for sala in salas %}
          <a href="{% url 'djreservas:calendario' ano_mes sala.id %}" class="btn filtro_sala" style="color:white; background: {{sala.cor}}">{{sala.nome}}</a>
        {% endfor %}
        </br>
        </br>
        <div class="row d-none d-sm-flex p-1 bg-dark text-white">
          {% for dia in semana %}
            <h5 class="col-sm p-1 text-center">{{dia}}</h5>
          {% endfor %}
        </div>
      </header>
      <div class="row border border-right-0 border-bottom-0">
        {% for data in calendario %}
          <div class="calendario col-sm p-2 border border-left-0 border-top-0 text-truncate 
                    {%if not data.ativo %} 
                      d-none d-sm-inline-block bg-light text-muted 
                    {% else %} 
                      form-reserva abre_link 
                    {% endif %}" data-day="{{ data.dia|date:'d/m/Y' }}">
            <h5 class="row align-items-center">
              {% if not data.ativo %}
                <span class="date col-1">{{ data.dia.day }}</span>
              {% else %}
                <span class="date col-1 abre_link"><a class="abre_link" href="{% url 'djreservas:forms' %}?data_reserva={{ data.dia|date:'d/m/Y' }}">{{ data.dia.day }}</a></span>
              {% endif %}
              <small class="col d-sm-none text-center text-muted">{{ data.dia.weekday }}</small>
              {% if not data.ativo %}
                <span class="col-1">------------</span>
              {% else %}
                <span class="col-1"><a class="" href="{% url 'djreservas:forms' %}?data_reserva={{ data.dia|date:'d/m/Y' }}"><small>Agendar</small></a></span>
              {% endif %}
            </h5>
            {% if not data.reservas %}
              <p class="d-sm-none">No events</p>
            {% else %}
              {% for reserva in data.reservas %}
                <button type="button" class="btn btn-sm" style="color:white; {% if not data.ativo %} opacity: 0.50; {% endif %} background: {{reserva.sala.cor}}" data-toggle="modal" data-target="#reserva_{{reserva.id}}">
                  {{ reserva.sala.nome }} -
                  {{ reserva.hora_inicio|date:'H:i' }}
                </button>
                </br>
                <div class="modal fade" id="reserva_{{reserva.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Multimeios</strong> - {{ reserva.data_reserva|date:'d/m/Y' }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <strong>Sala:</strong> {{ reserva.sala }}</br>
                        <strong>Horário:</strong>{{ reserva.hora_inicio|date:'H:i' }} até {{ reserva.hora_fim|date:'H:i' }}</br>
                        <strong>Responsável:</strong> {{ reserva.responsavel_cliente.get_full_name }}</br>
                        <strong>Contato:</strong> <a href="mailto:{{ reserva.responsavel_cliente.email }}">{{ reserva.responsavel_cliente.email }}</a></br>
                        <strong>Motivo:</strong> {{ reserva.motivo }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          {% if data.dia.weekday == 5 %}
            <div class="w-100"></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>    
  </section>
{% endblock %}