<!-- Função do Django para estender o código do base.html, como
resultado, mostrando o menu e o rodapé já pronto esse código
HTML. -->
{% extends 'djreservas/base.html' %}
{% load i18n %}
<!-- Função do Django para início dos novos códigos no index.html -->
{% block content %}
<section class="home_sessao">
    <div class="row">
        </h6>{% for sala in salas %}
            <div class="col-sm">
                <h5><strong>{{sala.nome}}</strong></h5>
                </br>
                {% if isadmin %}
                    <i><h6>Pendentes</h6></i>
                    <ul class="list-group">
                        {% for reserva in sala.reservas_pendentes%}
                            <li class="list-group-item list-group-item-warning">
                                {{reserva.responsavel_cliente.get_full_name }}: 
                                {{reserva.data_reserva|date:'d/m/Y' }} -
                                {{ reserva.hora_inicio|date:'H:i' }} a {{ reserva.hora_fim|date:'H:i' }}   
                            </li>
                        {% endfor %}
                    </ul>
                    </br>
                    <i><h6>Aprovadas</h6></i>
                {% endif %}
                <ul class="list-group">
                    {% for reserva in sala.reservas_aprovadas%}
                        <li class="list-group-item list-group-item-primary">
                            {{reserva.responsavel_cliente.get_full_name }}: 
                            {{reserva.data_reserva|date:'d/m/Y' }} -
                            {{ reserva.hora_inicio|date:'H:i' }} a {{ reserva.hora_fim|date:'H:i' }}   
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}