<!-- Função do Django para estender o código do base.html, como
resultado, mostrando o menu e o rodapé já pronto nesse código
HTML. -->
{% extends 'djreservas/base.html' %}
{% load i18n %}
<!-- Função do Django para início dos novos códigos no index.html -->
{% block content %}
<section>
    <div class="row">
        <div class="col-sm">
            sala 1
            <ul class="list-group">
                <li class="list-group-item">
                    reserva 1
                </li>
                <li class="list-group-item">
                    reserva 2
                </li>
            </ul>
        </div>
        <div class="col-sm">
            sala 1
            <ul class="list-group">
                <li class="list-group-item">
                    reserva 1
                </li>
                <li class="list-group-item">
                    reserva 2
                </li>
            </ul>
        </div>
        <div class="col-sm">
            sala 1
            <ul class="list-group">
                <li class="list-group-item">
                    reserva 1
                </li>
                <li class="list-group-item">
                    reserva 2
                </li>
            </ul>
        </div>
        <div class="col-sm">
            sala 1
            <ul class="list-group">
                <li class="list-group-item">
                    reserva 1
                </li>
                <li class="list-group-item">
                    reserva 2
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}