{% extends 'djreservas/base.html' %}

{% block content %}
    
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'djreservas:logins'%}" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">user</a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal">Trocar Senha</a>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal">Sair</a>
        </div>
    </div>

{% end block %}