{% extends 'djreservas/base.html' %}

{% block content %}
<section>
    </br>
    <div class="alert alert-success">
        <h5>
            {{ reserva.responsavel_cliente.get_full_name }},</br>sua reserva foi realizada com <b><i>Sucesso</i></b>!
        </h5>
    </div>
    </br>
    <div class="alert alert-info">
        <h6>
            <a href="{% url 'djreservas:index' %}" class="text-primary">Você pode ver sua reserva na <b><i>Home</i></b> dessa Página.</br>Clicando neste link.</a>
            </br>
            <h5>Ou</h5>
            <a href="{% url 'djreservas:calendario' %}" class="ls-login-forgot">Você pode ver sua reserva no <b><i>Calendário</i></b> dessa Página.</br>Clicando neste link.</a>
        </h6>
    </div>
    <a href="{% url 'djreservas:forms' %}" class="text-dark">Você também pode fazer outra <b><i>Reserva</b></i>.</br>Clicando neste link.</a>
    </br>
    </br>
</section>
{% endblock %}