{% extends 'djreservas/base.html' %}

{% block content %}
<!--{{ form.as_p }}-->
<div class="col-md-6 offset-md-3">
  <section>
    </br>
    <h2>Trocar Senha: Multimeios</h2>
    </br>
    <form method="post">
      {% csrf_token %}
      <div class="box-parent-login">
        <div class="well bg-white box-login">
          <form role="form">
            <fieldset>
              
              <ul class="list-group">
                <li class="list-group-item list-group-item-info">Your password can't be too similar to your other personal information.</li>
                <li class="list-group-item list-group-item-info">Your password must contain at least 8 characters.</li>
                <li class="list-group-item list-group-item-info">Your password can't be a commonly used password.</li>
                <li class="list-group-item list-group-item-info">Your password can't be entirely numeric.</li>
              </ul>
              </br>
              <div class="form-group ls-login-password">
                <strong><label for="userOldPassword">Senha Antiga</label></strong>
                <input name="old_password" type="password" class="form-control ls-login-bg-password input-lg" id="userOldPassword" aria-label="SenhaAntiga" placeholder="Senha Antiga" autofocus="" required="">
              </div>

              <div class="form-group ls-login-password">
                <strong><label for="userNewPassword">Nova Senha</label></strong>
                <input name="new_password1" type="password" class="form-control ls-login-bg-password input-lg" id="userNewPassword1" aria-label="SenhaNova1" placeholder="Nova Senha" required="">
              </div>
              </br>
              <div class="form-group ls-login-password">
                <strong><label for="userPassword">Confirmação da Nova Senha</label></strong>
                <input name="new_password2" type="password" class="form-control ls-login-bg-password input-lg" id="userNewPassword2" aria-label="SenhaNova1" placeholder="Confirme sua nova senha">
              </div>
              </br>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
              </br>
            </fieldset>
          </form>
        </div>
      </div>
    </form>
  </section>
</div>
{% endblock %}