{% extends 'djreservas/base.html' %}

{% block content %}
<div class="alert alert-success">Hey, listen!</div>
<section class="success_change_sessao">
</br>
<div class="alert alert-success">
    <h5>
        <strong>{{ nome }}</strong>,</br>sua senha foi mudada com <b><i>Sucesso</i></b>!
    </h5>
</div>
</br>
<div class="alert alert-info">
    <h6>
        <a href="{% url 'djreservas:index' %}" class="text-primary">Vá para a <b><i>Home</i></b> da multimeios clicando neste link.</a>
    </h6>
</div>
</section>
{% endblock %}